# **EXPLORACIÓN PREVIA DE LOS DATOS**

###1.1 Importación de paquetes

In [ ]:
pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.5.1)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [ ]:
# Importación de paquetes
import tabula
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from os import listdir

from tabula import read_pdf

%matplotlib inline

# Paquetes de modelos de ML
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Paquetes de evaluacion de precisión
from sklearn.metrics import f1_score

import warnings
warnings.filterwarnings("ignore")

###1.2 Lectura de datasets

In [ ]:
df_barrios = pd.read_csv('barri20.csv')
df_barrios.head(1)

  Districte de Sarrià-Sant Gervasi Unnamed: 1  Unnamed: 2 Unnamed: 3
0                     Barri Sarrià        NaN         NaN        NaN

###1.3 Procesamiento

In [ ]:
df_barrios.columns

Index(['Districte de Sarrià-Sant Gervasi', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3'],
      dtype='object')

In [ ]:
#Modificación de los nombres de las columnas de ambos dataset para una mejor interpretación de los datos
df_barrios.columns = ['barrio', 'valor_b', 'valor_d', 'valor_bcn']
df_barrios.columns

Index(['barrio', 'valor_b', 'valor_d', 'valor_bcn'], dtype='object')

In [ ]:
df_barrios.head(1)

         barrio valor_b  valor_d valor_bcn
0  Barri Sarrià     NaN      NaN       NaN

In [ ]:
data = df_barrios.drop(columns=['valor_d', 'valor_bcn'], inplace=True)

In [ ]:
df_barrios.head(1)

         barrio valor_b
0  Barri Sarrià     NaN

In [ ]:
df_barrios.valor_b[0] = df_barrios.barrio[0]
df_barrios.head(1)

         barrio       valor_b
0  Barri Sarrià  Barri Sarrià

In [ ]:
df_filas = df_barrios.iloc[[0, 2, 6, 7, 11, 12, 28, 30, 31, 35, 36]]
df_filas.head(1)

         barrio       valor_b
0  Barri Sarrià  Barri Sarrià

In [ ]:
df_filas.head(1)

         barrio       valor_b
0  Barri Sarrià  Barri Sarrià

In [ ]:
df_filas.barrio[0]="a"

In [ ]:
df_filas.head(1)

  barrio       valor_b
0      a  Barri Sarrià

### 1.4 Descargar datos

In [ ]:
from google.colab import files
df_filas.to_csv('barris20.csv', index=True, sep=';')

In [ ]:
from google.colab import files
df_filas.to_json('barris20.json')